<ion-header>
  <ion-toolbar>
    <ion-title><h1>bibliotecario</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list *ngIf="livrosList">

      <ion-card *ngFor="let item of livrosList; let i = index">

        <ion-item>
          <ion-label>
            <h1>{{item.nome}}</h1>
          </ion-label>
        </ion-item>

        <ion-item>
          <ion-label slot="end" style="text-align: end;">
            {{item.autor}}<br>{{item.ano}}
          </ion-label>
        </ion-item>

        <ion-item>
          <h6>Tipo:&nbsp;</h6> <h4>{{item.tipo}}</h4>
        </ion-item>

        <ion-item>
          <ion-button slot="start" color="danger" (click)="apagar(i)">Deletar</ion-button>
          <ion-button slot=""(click)="editar(i)">Editar</ion-button>
        </ion-item>

      </ion-card>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addLivro()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
