<ion-header >
  <ion-toolbar>
    <ion-toolbar style="text-align: center;">
      <h1>Login da Biblioteca</h1>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="login" name="email"></ion-input>
    </ion-item>
    <ion-item>
     <ion-input type="password" placeholder="senha" [(ngModel)]="senha" name="senha"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="logar()">Entrar</ion-button>

  </ion-card>
</ion-content>
